
<!DOCTYPE html>
<div>
  <html>
    
  <head>
    <title>Home</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <!--//tags -->
    <link href="../../../moban2784/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../../moban2784/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../../moban2784/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link href="../../../moban2784/css/font-awesome.css" rel="stylesheet">
    <!-- //for bootstrap working -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,300,300i,400,400i,500,500i,600,600i,700,800" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
  </head>
    
  <body>
    <div class="top_header" id="home">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="nav_top_fx_w3ls_agileinfo">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div class="logo-w3layouts-agileits">
              <h1> <a class="navbar-brand" href="../../../moban2784/index.html"><i class="fa fa-clone" aria-hidden="true"></i> ImageX <span class="desc">-----------</span></a></h1>
            </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <div class="nav_right_top">
              <ul class="nav navbar-nav navbar-right">
		<li class="My Account">      
		{% if user.is_authenticated == True %}
		 
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Invite <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="../../../moban2784/MyAccount.html">My Account</a></li>
	            <li><a href="../../../moban2784/Logout.html">Logout</a></li>
                  </ul>
                </li> 
		{% else %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Invite <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="../../../moban2784/signup.html">Sign up</a></li>
	            <li><a href="../../../moban2784/Login.html">Login</a></li>
                  </ul>
                </li>   
		      
                
              </ul>
              <ul class="nav navbar-nav">
                <li><a href="../../../moban2784/Home1.html">Home</a></li>
                <li></li>
                <li class="active"></li>
                <li><a href="../../../moban2784/uploadimage.html">Upload</a></li>
                <li class="Invite">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Invite <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="../../../moban2784/Invite.html">photographer</a></li>
                    
                    
                    
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!--/.nav-collapse -->
        </div>
      </nav>
  
	<!--//banner_info-->
	<!-- /inner_content -->
<div class="banner_bottom">
		<div class="container">
			
			
			
			
	
			
			
			
			
			
			
			
			
			<div class="mail_form">
				<h3 class="tittle-w3ls">Please enter your current password and the new password</h3>
				<form action="" method='POST' enctype='multipart/form-data'>
				{% csrf_token %}
				<strong>Current password</strong>: <input  type='password' name='currentPassword'><br>
				<strong>New password</strong>: <input  type='password' name='newPassword'><br>
				<strong>Repeat new password</strong>: <input  type='password' name='newPassword2'><br>
				<input type='submit'></form>
               <br><a href='../../../../Desktop'>Back</a>
			</div>
           	
			
					
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!-- footer -->
	
	</div>
	<!-- //footer -->
	<!-- js -->
	<script type="text/javascript" src="../../../moban2784/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="../../../moban2784/js/bootstrap.js"></script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="../../../moban2784/js/move-top.js"></script>
	<script type="text/javascript" src="../../../moban2784/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



</body>

</html>

