<!DOCTYPE html>
<html>
<head>
<title>Change Password</title>
<!-- For-Mobile-Apps -->
{% load staticfiles %}
</head>
<body>
<script>
  var fb = {{ feedback|safe}};
  window.alert(fb);
</script>

{% if user.is_authenticated %}
  {% include 'base_login.html' %}
{% else %}
  {% include 'base.html' %}  
{% endif %}
<div class="banner_bottom">
	<div class="container">
		<div class="mail_form">
			<h4 class="tittle-w3ls">Please enter your current password and the new password</h4><br>
			<form action="" method='POST' enctype='multipart/form-data'>
			{% csrf_token %}
<!-- 			<strong>Current password</strong>: <input  type='password' name='currentPassword'><br><br>
			<strong>New password</strong>: <input  type='password' name='newPassword'><br><br>
			<strong>Repeat new password</strong>: <input  type='password' name='newPassword2'><br><br> -->
			{{ form.non_field_errors }}
			<div class="form-group">		
	    		<label for="{{ form.old_password.id_for_label }}">Old Password</label>
	    		{{form.old_password}}<br>
	    		{{ form.old_password.errors| striptags }}
	    	</div>
	    	<div class="form-group">
		    	<label for="{{ form.new_password1.id_for_label }}">New Password</label>
		    	{{form.new_password1}}<br>
		    	{{ form.new_password1.errors| striptags }}
		    </div>
		    <div class="form-group"> 		
	    		<label for="{{ form.new_password2.id_for_label }}">New Password Confirmation</label>
	    		{{form.new_password2}}<br>
	    		{{ form.new_password2.errors| striptags }}
	    	</div>
			<br><br><button type="submit" class="btn btn-outline-secondary">Save changes</button>
		</div>	
			<div class="clearfix"> </div>
	</div>
	</div>
	</div>

	<!-- footer -->
	
	</div>
	<!-- //footer -->
	<!-- js -->
	<script type="text/javascript" src="{{ STATIC_URL }js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }js/bootstrap.js"></script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{{ STATIC_URL }js/move-top.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password1").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>


