<!DOCTYPE html>
<html>
<head>
	<title>Invite People</title>
	{% load staticfiles %}
</head>
<body>
	{% if user.is_authenticated %}
	{% include 'base_login.html' %}
	{% else %}
	{% include 'base.html' %}  
	{% endif %}
	
	{% block content %}
	<!-- /inner_content -->
	<div class="banner_inner_con"></div>
	<div class="banner_bottom">
		<div class="container">
			<div class="tittle-w3ls_head">
				<div class="banner_bottom">
					<div class="container">
						
						<h3 class="tittle-w3ls three">Invite a new member by email</h3>

						<form id='invite_bar' action="/invite" method = 'GET'> 	
							<input type="email"class="prompt"  name ="invite_email" id="invite_email" placeholder = "email">
							
							<div><br></div>
							
							<button type="submit" class="btn btn-outline-secondary">Invite</button>
						</form>			
					</div>

					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
	</html>