<!DOCTYPE html>
<html>
<head>
<title>Invite People</title>
{% load staticfiles %}
</head>
<body>

{% if user.is_authenticated %}
  {% include 'base_login.html' %}
{% else %}
  {% include 'base.html' %}  
{% endif %}

{% block content %}
	<div class="container">
		  <br><p>We've emailed a token for registration to corresponding email you entered.</p>
		  <p>If no email is received, please make sure the address is correct and check spam folder.</p>
		  <p>Thank you!</p>
	</div>
{% endblock %}

</body>
</html>