<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
{% load staticfiles %}
</head>
<body>
{% if user.is_authenticated %}
  {% include 'base_login.html' %}
{% else %}
  {% include 'base.html' %}  
{% endif %}
	
{% block content %}
	<div class="banner_bottom">
		<div class="container">
			<div class="mail_form">
				<h3> an email will be sent to your email address with a link to reset the password </h3><br>
				<form action="" method='POST' enctype='multipart/form-data'>
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="form-group">		
	    			<label for="{{ form.email.id_for_label }}">Email</label>
	    			{{form.email}}<br>
	    			{{ form.email.errors| striptags }}
	    		</div>
				<br><button type="submit" class="btn btn-outline-secondary">Reset Password</button>
               <br><br><a href='..'>Back</a>
			</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}
</body>
</html>